html {
  background-color: rgb(253, 188, 58);
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.banner-image {
  height: 40vh;
  background: url("../banner.png");
  background-size: 100% 100%;
  padding: 0 important!;
}

.header-background {
  background-color: rgb(9, 28, 58);
}

@media only screen and (max-width: 990px) {
  .banner-image {
    background: url("../mobile_banner.png");
    background-size: 100% 100%;
  }
}
