html {
  background-color: rgb(253, 188, 58);
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.banner-image {
  height: 40vh;
  background: url("../placeholder.jpg");
}

.bg-cover {
  background-size: 100% 100%;
}

.main-content {
  height: 40vh;
}
